.aucentre{
  text-align: center;
 }
.espaceCard{
    margin: 10px;
}

.wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    place-content: center;
    justify-content: center;
    width: 100%;
    grid-gap: 10px;
  }
  
  .card {
    display: inline-flex;
  }
  