

<ul class="nav justify-content-center">
  
  <img src="assets/img/Zirhill-logo.png"  class="decote" alt="..." height="80">

  <li class="nav-item navTop">
    <a class="nav-link active" href="#">History</a>
  </li>
  <li class="nav-item navTop">
    <a class="nav-link" href="gallery">Gallery</a>
  </li>
  <li class="nav-item navTop">
    <a class="nav-link" href="JustforYou">Just for You</a>
  </li>
  <li class="nav-item navleft navTop">
    <a class="nav-link" href="#">Buy It</a>
  </li>
 
</ul>

